/*========================
Declare variables for page
=========================*/
:root {
  /*color scheme*/
  --dark-background: #212121;
  --light-text: #f5f5f5;

  /*fonts*/
  --heading-font: "Roboto Mono", monospace;
  --text-font: "Arvo", serif;
}

/*======================================
Back to Basics - reset browser defaults
=======================================*/
html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/*set global styles*/
body * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
}

/*================
Text and Fonts
=================*/

/*reset default font - never shall Time New Roman be seen agan!*/
h1,
h4,
p,
button {
  font-family: Arial, sans-serif;
}

h1 {
  font-family: var(--heading-font);
  line-height: 150%;
  font-size: 3.5rem;
}

h4,
p,
button {
  font-family: var(--text-font);
}

/*================
Layout
=================*/
body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
  grid-gap: 0;
}

/*================
Section Styling
=================*/
/*Header box*/
header {
  grid-area: header;
}

/*page container*/
main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image content";
  grid-gap: 2rem;
}
/*Image box*/

figure {
  grid-area: image;
  position: relative;
}

img {
  max-width: 100%;
  display: inline-block;
}

/*Content box*/
#content {
  grid-area: content;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 1rem;
}

#section-header {
  margin: 1.5rem auto;
}

#section-content {
  font-size: 1.5rem;
  margin: 1.5rem auto;
}

/*button style*/
#homepage-button {
  background-color: var(--dark-background);
  color: var(--light-text);
  font-size: 1.2rem;
  line-height: 150%;
  padding: 1rem;
  width: 50%;
}
/*=====
Footer
======*/
footer {
  grid-area: footer;
  margin-top: 1rem;
}

#allaboutme {
  text-align: center;
  font-family: var(--heading-font);
  font-size: 0.8rem;
  padding: 0.5rem 0;
}
/*==========
Link styles
===========*/

/*================
The little touches
=================*/

/*In the dreaded case of image not found*/
img:after {
  display: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.3rem;
  border: 0.1rem dashed var(--dark-background);
  background-color: grey;
  z-index: 10;
  font-family: verdana;
  font-size: 0.8em;
  text-align: center;
  content: "Image of " attr(alt) " was not found";
}

/*=============
Responsiveness
===============*/

/*Media queries for portable screen views - tablets and phones*/

@media only screen and (max-width: 1024px) {
  /*change to single column layout*/
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "content";
    margin: 0 auto;
    padding: 1rem;
    grid-gap: 0;
  }
}
