/*==============
Page  Variables
================*/
:root {
  /*colors*/
  --cl-fnt-title: #20293A;
  --cl-fnt-text: #6C727F;
  --cl-fnt-tag: #883AE1;
  --cl-tag-bg: #E6D6FC;
  --cl-primary-bg: #FAFAF9;
  --cl-border: #6C727F;

  /*fonts*/
  --font: 'Sora', sans-serif;
  --fnt-sz-title: 1.125rem;
  --fnt-sz-text: 0.875rem;
  --fnt-sz-sml-text: 0.75rem;
  --fnt-sz-tag: 0.625rem;

  /*shadow */
  --shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
}

/*=====================
reset browser defaults
======================*/
html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/*set global styles*/
body * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
}

img {
  max-width: 100%;
}

:is(h1, p, figcaption) {
  font-family: var(--font);
  color: var(--cl-fnt-text);
}

/*======
Layout
========*/
body {
  height: 100vh;
  display: grid;
  place-items: center;
}

.card {
max-width: 368px;
max-height: 400px;
padding: 1rem;
box-shadow: var(--shadow);
border-radius: 1rem;
}

/*====
Text
====*/

h1 {
  font-size: var(--fnt-sz-title);
  margin-bottom: 0.6rem;
  color: var(--cl-fnt-title);
}

.card-content {
font-size: var(--fnt-sz-text);
line-height: 150%;
}

.author {
  border-top: var(--cl-fnt-text) solid 1px;
  font-size: var(--fnt-sz-sml-text);
  padding-top: 1rem;
  margin-top: 1rem;
}

figure {
  margin-bottom: 1rem;
}

figure img {
  border-radius: 10px;
  margin-bottom: 0.8rem;;
}

figcaption {
  display: inline;
  font-size: var(--fnt-sz-tag);
  font-weight: bold;
  padding: 0.4rem 0.6rem;
  color: var(--cl-fnt-tag);
  background-color: var(--cl-tag-bg);
  border-radius: 1rem;
}
/*================
The little touches
=================*/
/*In case of image not found*/
img:after {
  display: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.3rem;
  border: 0.1rem dashed var(--dark-background);
  background-color: grey;
  z-index: 10;
  font-family: verdana;
  font-size: 0.8em;
  text-align: center;
  content: "Image of " attr(alt) " was not found";
}
