/*========================
Declare variables for page
=========================*/
:root {
  /*colors*/
  --cl-fnt-title: #20293A;
  --cl-fnt-text: #6C727F;
  --cl-fnt-tag: #883AE1;
  --cl-primary-bg: #FAFAF9;
  --cl-border: #6C727F;

  /*fonts*/
  --font: 'Sora', sans-serif;
  --fnt-sz-title: 1.125rem;
  --fnt-sz-text: 0.875rem;
  --fnt-sz-sml-text: 0.75rem;
  --fnt-sz-tag: 0.625rem;

  /*shadow */
  --shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
}

/*======================================
Back to Basics - reset browser defaults
=======================================*/
html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/*set global styles*/
body * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
}

/*================
The little touches
=================*/

/*In the dreaded case of image not found*/
img:after {
  display: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.3rem;
  border: 0.1rem dashed var(--dark-background);
  background-color: grey;
  z-index: 10;
  font-family: verdana;
  font-size: 0.8em;
  text-align: center;
  content: "Image of " attr(alt) " was not found";
}